<!doctype html>
<html>

<head>
    <title>Chesapeake Country Blue Crab Byway | Lower Eastern Shore Heritage Area</title>
    <!-- META DATA -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="The Official Website of the Lower Eastern Shore Heritage Council and the Blue Crab Scenic Byway" />
    <meta name="keywords" content="chesapeake, atlantic, Maryland, scenic byway, blue crab, trip, travel, tour, tourism, event, heritage, history " />

    <!-- CSS -->
    <link href="{{domain}}/css/reset_min.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{domain}}/css/theme.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{domain}}/css/print.css" type="text/css" rel="stylesheet" media="print" />
    <link href="{{domain}}/css/home.css" type="text/css" rel="stylesheet" media="screen" />
    <link href="{{domain}}/css/style.css" type="text/css" rel="stylesheet" media="screen" />
    {{{block "css"}}}
</head>

<body>
    <div id="body_container">
        <div id="header_container">
            <img src="{{domain}}/var/skins/bluecrab_2010/images/common/bk-header-right.jpg" style="float:right;" />
        </div>
        <div id="outermostwrapper">
            <div id="header" class="headfoot">
                <a title="Chesapeake Country Blue Crab Byway" href="{{domain}}">
                    <img src="{{domain}}/var/skins/bluecrab_2010/images/common/logo.png" alt="Chesapeake Country Blue Crab Byway" style="border:none" />
                </a>
                <div id="header_menu_wrapper">
                    <a class="tab" href="{{domain}}">
                        <span class="left"></span>
                        <span class="center">
                            <img src="{{domain}}/var/skins/bluecrab_2010/images/common/nav-home-button.png" class="nonhoverimg" alt="Home" style="margin-top:8px;" />
                            <img src="{{domain}}/var/skins/bluecrab_2010/images/common/nav-home-button-hover.png" class="hoverimg" alt="Home" style="margin-top:8px;" />
                        </span>
                        <span class="right"></span>
                    </a>
                    <table id="header_menu" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                              <td>
                                  <a href="{{domain}}/aboutbyways.html" class="tab">
                                      <span class="left"></span>
                                      <span class="center">About the Byways </span>
                                      <span class="right"></span>
                                  </a>
                              </td>
                                <td>
                                    <a href="{{domain}}/about.html" class="tab">
                                        <span class="left"></span>
                                        <span class="center">About LESHC </span>
                                        <span class="right"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{domain}}/categories.html" class="tab">
                                        <span class="left"></span>
                                        <span class="center" style="padding-right:20px;">Areas of Interest
                                            <img src="{{domain}}/var/skins/bluecrab_2010/images/common/nav-drop-down-arrow.png" class="nonhoverimg" style="position:absolute;right:3px;top:13px;" />
                                            <img src="{{domain}}/var/skins/bluecrab_2010/images/common/nav-drop-down-hover.png" class="hoverimg" style="position:absolute;right:3px;top:13px;" />
                                        </span>
                                        <span class="right"></span>
                                    </a>
                                    <ul class="submenuUL">
                                        {{#each sheet.categories}}
                                        <li class="submenuLI">
                                            <a href="{{domain}}/category/{{.}}.html">{{.}}</a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </td>
                                <td>
                                    <a href="{{domain}}/towns.html" class="tab">
                                        <span class="left"></span>
                                        <span class="center" style="padding-right:20px;">Towns
                                            <img src="{{domain}}/var/skins/bluecrab_2010/images/common/nav-drop-down-arrow.png" class="nonhoverimg" style="position:absolute;right:3px;top:13px;" />
                                            <img src="{{domain}}/var/skins/bluecrab_2010/images/common/nav-drop-down-hover.png" class="hoverimg" style="position:absolute;right:3px;top:13px;" />
                                        </span>
                                        <span class="right"></span>
                                    </a>
                                    <ul class="submenuUL">
                                        {{#each sheet.towns}}
                                        <li class="submenuLI">
                                            <a href="{{domain}}/town/{{.}}.html">{{.}}</a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </td>
                                <!-- <td>
                                    <a href="routes" class="tab">
                                        <span class="left"></span>
                                        <span class="center" style="padding-right:20px;">Routes
                                            <img src="{{domain}}/var/skins/bluecrab_2010/images/common/nav-drop-down-arrow.png" class="nonhoverimg" style="position:absolute;right:3px;top:13px;" />
                                            <img src="{{domain}}/var/skins/bluecrab_2010/images/common/nav-drop-down-hover.png" class="hoverimg" style="position:absolute;right:3px;top:13px;" />
                                        </span>
                                        <span class="right"></span>
                                    </a>
                                    <ul class="submenuUL">
                                      {{#each sheet.routes}}
                                      <li class="submenuLI">
                                          <a href="{{../config.domain}}/route/{{.}}">{{.}}</a>
                                      </li>
                                      {{/each}}
                                    </ul>
                                </td> -->
                                <td>
                                    <a href="{{domain}}/contact.html" class="tab">
                                        <span class="left"></span>
                                        <span class="center">Contact Us</span>
                                        <span class="right"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="container">
