{{> header}}
<div id="maincontent_top">
  {{> sidebar}}
  <div id="subpage_content">
    <div id="subpage_titlebox">
      <img src="{{domain}}/var/skins/bluecrab_2010/images/secondary/subpage_titlebar/subpage_titlebar_farright.png" id="subpage_titlebox_far_right" />
      <img src="{{domain}}/var/skins/bluecrab_2010/images/secondary/subpage_titlebar/subpage_titlebar_left.png" id="subpage_titlebox_left" />
      <div id="subpage_titlebox_center">
        <h1>About the Byways</h1>
        <img id="subpage_titlebox_middle_right_bottom" src="{{domain}}/var/skins/bluecrab_2010/images/secondary/subpage_titlebar/subpage_titlebar_middle_right_bottom.png" />
        <img id="subpage_titlebox_middle_right_top" src="{{domain}}/var/skins/bluecrab_2010/images/secondary/subpage_titlebar/subpage_titlebar_middle_right_top.png" />
      </div>
    </div>

    <div id="subpage_mainbox" class="static_page">
      <img alt="Paper Clip" src="{{domain}}/var/skins/bluecrab_2010/images/secondary/paperclip.png" class="toppaperclip" />
      <img width="313" height="252" alt="Lower Eastern Shore Heritage Council" src="{{domain}}/var/skins/bluecrab_2010/images/routes/all.png" style="WIDTH: 313px; HEIGHT: 252px" class="route" />
      <h2>Chesapeake Country Byway</h2>
      <p>Blue Crab is a part of the larger <a href="http://viewer.zmags.com/publication/1676c8e8#/1676c8e8/50">Chesapeake Country Byway</a> that runs through 419 miles of charming towns, waterfront villages and unspoiled landscapes starting from the upper eastern shore of Maryland at Chesapeake City to Crisfield  and Smith Island.</p>
      <h2>Cape to Cape Byway</h2>
      <p>Also found within our lower eastern shore is  <a href="http://viewer.zmags.com/publication/1676c8e8#/1676c8e8/58">Cape to Cape Byway</a> extending down 120 miles from Cape Henlopen, DE, through the MD Atlantic shores and back bays, down to Cape Charles VA. This seaside drive takes you through the water laced lands of historic beaches and islands along the Delmarva Peninsula </p>
      <br />
    </div>
    <img src="{{domain}}/var/skins/bluecrab_2010/images/secondary/subpage_footer.png" alt="layout spacer" />
  </div>
</div>
{{> footer}}
