<div id="maincontent_top">
  {{> sidebar}}


  <div id="subpage_content">
  <div id="subpage_titlebox">
  <img src="{{config.domain}}/var/skins/bluecrab_2010/images/secondary/subpage_titlebar/subpage_titlebar_farright.png" id="subpage_titlebox_far_right" />
  <img src="{{config.domain}}/var/skins/bluecrab_2010/images/secondary/subpage_titlebar/subpage_titlebar_left.png" id="subpage_titlebox_left" />
      <div id="subpage_titlebox_center">
    <h1>About LESHC</h1>
    <img id="subpage_titlebox_middle_right_bottom" src="{{config.domain}}/var/skins/bluecrab_2010/images/secondary/subpage_titlebar/subpage_titlebar_middle_right_bottom.png" />
    <img id="subpage_titlebox_middle_right_top" src="{{config.domain}}/var/skins/bluecrab_2010/images/secondary/subpage_titlebar/subpage_titlebar_middle_right_top.png" />
  </div>
</div>

    <div id="subpage_mainbox" class="static_page">
    <img alt="Paper Clip" src="{{config.domain}}/var/skins/bluecrab_2010/images/secondary/paperclip.png" class="toppaperclip" /><img width="313" height="252" alt="Lower Eastern Shore Heritage Council" src="{{config.domain}}/var/files/images/about.png" style="WIDTH: 313px; HEIGHT: 252px" class="route" /><h2>Mission Statement</h2>
<p>The Lower Eastern Shore Heritage Area Council is a grassroots, nonprofit organization whose purpose is to preserve, protect and promote the cultural, natural and historic heritage of Somerset, Wicomico and Worcester counties.</p><h2>Statement of Purpose</h2>
<p>Through a variety of partnerships with individual citizens, representatives of various organizations, and public agencies, the Lower Eastern Shore Heritage Area Council works to blend economic development at the local level with the conservation of the area's natural, cultural and historic resources in a regional heritage area approach that will better serve all counties and municipalities on Maryland's Lower Eastern Shore.</p>
<br />
<p>The Lower Eastern Shore Heritage Area Council is the representative manager of the Blue Crab Scenic Byway,&nbsp;which spans&nbsp;210 miles over the 3 lower shore counties. LESHC has received some funding for the Blue Crab Byway project from Maryland State Highway Association (SHA), Maryland Heritage Area Authority (MHAA), and Metropolitan Planning Organization (MPO).</p>
<p>To find out more about LESHC please visit <a href="http://lowershoreheritage.org/">http://lowershoreheritage.org/</a></p>
<p>&nbsp;</p>
<p style="LINE-HEIGHT: 18px; FONT-SIZE: 11px"><span id="map_copyright">Funded (partially) by the FWHA National Scenic Byways Program, through&nbsp;</span>
<br /><span id="map_copyright">the Maryland State Highway Administration, and Maryland Heritage Area Authority.&nbsp;</span>
<br /><span id="map_copyright">LESHC is a 501(c)3 non-profit organization recognized by the State of Maryland.&nbsp;</span></p>
  </div>
  <img src="{{config.domain}}/var/skins/bluecrab_2010/images/secondary/subpage_footer.png" alt="layout spacer" />
</div>
</div>
