{{#extend "css"}}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
{{/extend}}

<div id="maincontent_top">

    <div id="top_module">
        <div id="topmodule_center">
            <div id="text_box">
                <p>The <b>Chesapeake Country Blue Crab Byway</b> takes you on a 210 mile journey from the Nanticoke River toward the urban center of the region, Salisbury where history and culture mingle, to Princess Anne featuring the 200 year old neoclassical Teackle Mansion, to Deal Island wildlife management area where wildlife abounds, to the southernmost spot of Crisfield  famous for the Crab Derby to Smith Island home of the MD State Dessert Smith Island Cake.</p><br>
                <p>A unique, imperfect loop that links Lower Eastern Shore historic towns and quaint villages to form the shell of the Blue Crab byway, while several branches extend out like stubby legs and curved claws toward the Chesapeake Bay and Atlantic Ocean toward Pocomoke, Berlin and Ocean City. </p>
                <br/>
            </div>
            <div id="app_feature">
              <h1>Blue Crab Byway Mobile Tour Guide</h1>
              <img class="iphone" src="image/iPhone-6s-Space-Gray-vertical.png" width="120" alt="" />
              <div class="description">
                <h2>New!</h2>
                <p>Download the new Blue Crab Mobile Tour Guide iPhone app on the App Store. View interesting sites along on the Byway from anywhere!</p>
                <p><a href="#"><img class="appstore" src="image/Download_on_the_App_Store_Badge_US-UK_135x40.svg" /></a></p>
              </div>
            </div>
            <span class="home-image">
              <img src="{{config.domain}}/image/home.jpg" alt="" />
            </span>
        </div>
    </div>

    <div id="maincontent_middle">
        <div id="byway_sidebar">
            <h1>Plan Your Blue Crab Adventure</h1>
            <p><b>The Blue Crab Byway</b> is located on the Eastern Shore of Maryland. Choose your destinations below to see them on the map.</p>
            <br />
            <div id="map_delimiters">
                <ul id="delimiter_tabs">
                    <!-- <li id="routes_delimiter_tab" class="map_tab_delimiter_selected">
                        <a onclick="bywayMap.mapDelimiter(this, 'routes')">Routes</a>
                    </li> -->
                    <li id="interests_delimiter_tab" class="map_tab_delimiter_selected">
                        <a onclick="bywayMap.mapDelimiter(this, 'interests')">Interests</a>
                    </li>
                    <li id="towns_delimiter_tab" class="map_tab_delimiter_link">
                        <a onclick="bywayMap.mapDelimiter(this, 'towns')">Towns</a>
                    </li>
                </ul>
                <!-- delimiter_tabs -->

                <div id="delimiter_content">
                    <!-- <div id="routes_delimiter" class="delimiter_menu" style="display:block;">
                      {{#each sites.routes}}
                      <li class="submenuLI">
                        <a id="{{.}}" type="route" class="delimiter_filter md_31" onmouseover="bywayMap.highlightRoute(id,true);" onmouseout="bywayMap.highlightRoute(id,false);" onclick="bywayMap.addRoute(this, id)" />
                            {{.}}<img src="{{config.domain}}/var/skins/bluecrab_2010/images/home/map_delimiter_hover.png" alt="X button" title="Do not show this route on the map" class="clearFilter" />
                        </a>
                      </li>
                      {{/each}}
                    </div> -->

                    <div id="interests_delimiter" class="delimiter_menu" style="display:block;">
                      <li class="submenuLI">
                      <a id="all" type="interest" class="delimiter_filter md_15" onclick="bywayMap.addCategory(this, id)" >
                        All<img src="{{config.domain}}/var/skins/bluecrab_2010/images/home/map_delimiter_hover.png" alt="X button" title="Do not show this category on the map" class="clearFilter" />
                      </a>
                      </li>
                      {{#each sites.categories}}
                      <li class="submenuLI">
                      <a id="{{.}}" type="interest" class="delimiter_filter md_15" onclick="bywayMap.addCategory(this, id)" >
                        {{.}}<img src="{{config.domain}}/var/skins/bluecrab_2010/images/home/map_delimiter_hover.png" alt="X button" title="Do not show this category on the map" class="clearFilter" />
                      </a>
                      </li>
                      {{/each}}
                    </div>

                    <div id="towns_delimiter" class="delimiter_menu">
                      <li class="submenuLI">
                      <a id="all" type="interest" class="delimiter_filter md_15" onclick="bywayMap.addCategory(this, id)" >
                        All<img src="{{config.domain}}/var/skins/bluecrab_2010/images/home/map_delimiter_hover.png" alt="X button" title="Do not show this category on the map" class="clearFilter" />
                      </a>
                      </li>
                      {{#each sites.towns}}
                      <a id="{{.}}" type="interest" class="delimiter_filter md_15" onclick="bywayMap.addTown(this, id)" >
                        {{.}}<img src="{{config.domain}}/var/skins/bluecrab_2010/images/home/map_delimiter_hover.png" alt="X button" title="Do not show this category on the map" class="clearFilter" />
                      </a>
                      {{/each}}
                    </div>
                </div>
                <!--delimiter_content-->
            </div>
            <!-- map_delimters -->
            <div style="text-align:right; z-index:5; position:absolute; bottom:5px; left:185px;">
                <button class="reset_map_button" onclick="bywayMap.resetMap()">&nbsp;</button>
            </div>
        </div>
        <!-- byway_sidebar -->

        <div id="map_canvas"></div>
        <img class="drive" src="{{config.domain}}/var/skins/bluecrab_2010/images/home/dbc_orangebutton.png" />
    </div>
</div>

{{#extend "scripts"}}
   <script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
   <script src="js/map.js"></script>
{{/extend}}
